[main]
base_dir = /home/user/Pictures/Backgrounds
; the image base_dir + imagename will be passed as the final paramater to tool/opts below
tool = /usr/bin/nitrogen
tool_opts = --set-scaled 

[wallpapers]
; These are the names of the virtual desktops, this config works with 
; the openbox config in this repository, but if you name or have different 
; arrangements the key is the virtual desktop name
Left = empty_country_road-wallpaper-2560x1440.jpg
Main = Red-Tears-4K-Anime-Wallpapers.jpg
Right = wallmap.jpg

